@import url('https://free.bboxtype.com/embedfonts/?family=FiraGO:400');

body{
    font-family: 'FiraGO', sans-serif;
    margin: 0;
    padding: 0;
    background-color:#FBFAFF;
    
}

#logo{
    width: 180px;
    height: 30px;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 96px; 
    border-bottom: 1px solid #E4E3EB;
    background-color: #ffffff;
}

#container{
    width: 700px;
    margin-left: 525px;
    margin-top: -70px;
}

#row {
    justify-content: space-between;
    display: flex;
}

#row, #row-desc, #row-img{
    margin-bottom: 30px;
}

#left, #right{
    flex: 1;
    margin: 0;
    padding: 0;
}

#head-title{
    font-size: 36px;
    font-weight: 900;
    color:#1A1A1F;
    line-height: 40px;
    font-family: 'FiraGO', sans-serif;
}

.input-field{
    font-family: 'FiraGO', sans-serif !important;
    font-weight: 500 !important;
    font-size: 16px !important;
    line-height: 20px !important;
    width: 300px;
    height: 44px;
    margin-top: 10px;
    border-radius: 12px;
    border: 1px solid #E4E3EB;
    background-color: #fcfcfd;
    padding: 0 0 0 15px;
}

.desc-input{
    font-family: 'FiraGO', sans-serif !important;
    font-weight: 500 !important;
    font-size: 16px !important;
    line-height: 20px !important;
    width: 640px;
    height: 130px;
    margin-top: 10px;
    border-radius: 12px;
    border: 1px solid #E4E3EB;
    background-color: #fcfcfd;
    padding: 15px;
}

#validation-message-email {
    width: 300px;
    white-space: nowrap; 
    display: none;
}

#error-icon {
    margin-bottom: 15px;
    display: inline-block; 
    vertical-align: middle; 

}

#message6 {
    font-size: 14px;
    display: inline-block; 
    vertical-align: middle;
}




#labels{
    color: #1A1A1F;
    font-family: 'FiraGO', sans-serif;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
}

#validation-messages{
    color: #85858D;
}

#message1, #message2, #message3 {
    position: relative;
    margin-left: 20px;
    
}

#message1::before, #message2::before, #message3::before {
    content: '\2022'; 
    color: #85858D; 
    position: absolute;
    left: -15px; 
}


#publish {
    width: 300px;
    height: 44px;
    background-color: #5D37F3; 
    color: #ffffff;
    cursor: pointer; 
    border-radius: 8px;
    border: none;
    gap: 10px;
    line-height: 20px;
    font-family: 'FiraGO', sans-serif;
    font-weight: 600;
    letter-spacing: 0em;
    font-size: 16px;
}

#publish:disabled{
    background-color: #E4E3EB;
    cursor:default;
}

.image{
    display: none;
}

#img-container{
    width: 665px;
    height: 220px;
    border: 1px dashed #85858D;
    border-radius: 12px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: #F4F3FF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 10px;
}

#custom-label{
    cursor: pointer;
    font-family: 'FiraGO', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #1A1A1F;
    margin-top: 10px;
}

#choose{
    font-family: 'FiraGO', sans-serif;
    font-weight: 600;
    text-decoration: underline;
}

#upload-icon{
    margin-top: -30px;
}

#uploaded {
    margin-top: 10px;
    width: 665px;
    height: 60px;
    border-radius: 12px;
    background-color: #f2f2fa;
    display: none;
    align-items: center; 
}

#remove-img {
    margin-left: auto; 
    margin-right: 20px;
    cursor: pointer;
}

#gallery {
    cursor: pointer;
    margin-left: 20px;
    margin-right: 10px; 
}

#img-name {
    width: 500px;
    font-size: 18px;
    font-family: 'FiraGO', sans-serif;
    font-weight: 500;
    line-height: 20px;
    margin-left: 5px;
    cursor: pointer;
}

#back{
    margin-top: 50px;
    margin-left: 50px;
}


#post-date::-webkit-calendar-picker-indicator {
    margin-right: 10px;
}

.dropdown-container{
    font-family: 'FiraGO', sans-serif !important;
    font-weight: 500 !important;
    font-size: 16px !important;
    line-height: 20px !important;
    width: 300px;
    height: 44px;
    margin-top: 10px;
    border-radius: 12px;
    border: 1px solid #E4E3EB;
    background-color: #fcfcfd;
    padding: 0 0 0 10px;
    display: inline-block;
    position: relative;
}



/* Style for the visible input box */
.selected-options {
    font-family: 'FiraGO', sans-serif !important;
    color: #85858D;
    width: 300px;
    border: none;
    height: 44px;
    cursor: pointer;
    white-space: nowrap;
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
}

.selected-options:hover{
    overflow: auto;
}


.selected-item {
    padding: 8px 12px;
    border-radius: 30px;
    margin: 2px;
    display: flex;
    align-items: center;
}

.close-button {
    cursor: pointer;
    margin-left: 8px;
    font-size: 20px;
}

.dropdown-arrow {
    cursor: pointer;
    position: absolute;
    margin-left: 275px;
    z-index: 1;
    margin-top: 23px;
}

.checkbox-container {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    max-height: 100px;
    overflow-y: auto;
    border: 1px solid #E4E3EB;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    border-top: none;
    box-sizing: border-box;
    display: none;
}


.checkbox-container input {
    display: none;
}

.checkbox-label {
    padding: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;;
}

.checkbox-label:hover {
    background-color: #f0f0f0;
}

